body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --caption-desktop: "Lexend Deca";
    --font-plus-jakarta-sans: "Plus Jakarta Sans";
    --font-montserrat: Montserrat;
    --font-questrial: Questrial;
    --font-space-grotesk: "Space Grotesk";
  
    /* font sizes */
    --caption-desktop-size: 14px;
    --h3-size: 24px;
    --font-size-lgi: 19px;
    --font-size-21xl: 40px;
    --font-size-11xl: 30px;
    --font-size-33xl: 52px;
    --h1-desktop-size: 50px;
    --paragraph-desktop-size: 18px;
    --link-size: 16px;
    --font-size-xs-6: 11.6px;
    --font-size-3xs-9: 9.9px;
    --font-size-sm-3: 13.3px;
    --font-size-4xs-9: 8.9px;
    --font-size-5xs-7: 7.7px;
    --font-size-2xs-2: 10.2px;
    --font-size-base-3: 15.3px;
    --font-size-smi-8: 12.8px;
    --font-size-xs-5: 11.5px;
    --font-size-xl-4: 20.4px;
    --font-size-mid-9: 17.9px;
    --font-size-21xl-9: 40.9px;
    --font-size-11xl-7: 30.7px;
    --font-size-7xs-2: 5.2px;
    --font-size-8xs-5: 4.5px;
    --font-size-7xs: 6px;
    --h1-mobile-size: 34px;
    --font-size-xs: 12px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-3xs: 10px;
  
    /* Colors */
    --color-whitesmoke-300: #f8f8f8;
    --color-whitesmoke-100: #f5f5f7;
    --off-white: #f5f5f5;
    --color-whitesmoke-200: rgba(245, 245, 245, 0.24);
    --color-royalblue-200: #6e82ff;
    --soft-blue: #5468e7;
    --color-royalblue-100: rgba(84, 104, 231, 0.5);
    --color-gray-300: #fafafa;
    --gray-3: #828282;
    --dark-blue: #232340;
    --color-gray-500: #212427;
    --secondary-500: #141522;
    --color-gray-600: #071424;
    --color-gray-700: rgba(255, 255, 255, 0.5);
    --color-gray-400: rgba(20, 21, 34, 0.04);
    --color-gray-100: rgba(255, 255, 255, 0.08);
    --color-gray-200: rgba(35, 35, 64, 0.9);
    --primary-0: #fff;
    --desaturated-blue: #7676b2;
    --primary-500: #546fff;
    --secondary-400: #54577a;
    --grayish-blue: #d1ecfd;
    --color-deepskyblue-100: #00d1ff;
    --color-deepskyblue-200: #00b8e6;
    --color-dimgray: #6c6c6c;
    --color-gold: #ffe03c;
    --color-goldenrod-100: #ffc73c;
    --color-goldenrod-200: #cc9408;
    --color-red: #ff0000;
  
    /* Gaps */
    --gap-61xl: 80px;
    --gap-21xl: 40px;
    --gap-xl: 20px;
    --gap-24xl: 43px;
    --gap-base: 16px;
    --gap-3xs: 10px;
    --gap-sm: 14px;
    --gap-xs: 12px;
    --gap-29xl: 48px;
    --gap-5xl: 24px;
    --gap-11xl: 30px;
    --gap-11xs: 2px;
    --gap-101xl: 120px;
    --gap-41xl: 60px;
    --gap-5xs: 8px;
    --gap-37xl: 56px;
    --gap-9xl: 28px;
    --gap-2xl-3: 21.3px;
    --gap-6xs-6: 6.6px;
    --gap-9xl-2: 28.2px;
    --gap-9xs-3: 3.3px;
    --gap-xl-5: 20.5px;
    --gap-16xl-7: 35.7px;
    --gap-smi-7: 12.7px;
    --gap-smi-8: 12.8px;
    --gap-5xs-6: 7.6px;
    --gap-7xs-1: 5.1px;
    --gap-10xs-5: 2.5px;
    --gap-3xl-9: 22.9px;
    --gap-xs-5: 11.5px;
    --gap-5xs-7: 7.7px;
    --gap-9xl-1: 28.1px;
    --gap-xl-4: 20.4px;
    --gap-2xs-2: 10.2px;
    --gap-7xs-2: 5.2px;
    --gap-10xs-6: 2.6px;
    --gap-6xs-5: 6.5px;
    --gap-mid-9: 17.9px;
    --gap-6xl-5: 25.5px;
    --gap-2xs-9: 10.9px;
    --gap-base-3: 15.3px;
    --gap-153xl-5: 172.5px;
    --gap-8xs-5: 4.5px;
    --gap-11xl-9: 30.9px;
    --gap-xl-9: 20.9px;
    --gap-5xs-4: 7.4px;
    --gap-10xs: 3px;
    --gap-11xs-5: 1.5px;
    --gap-6xs: 7px;
    --gap-10xl-7: 29.7px;
    --gap-13xl: 32px;
    --gap-6xl: 25px;
    --gap-32xl: 51px;
  
    /* Paddings */
    --padding-54xl: 73px;
    --padding-18xl: 37px;
    --padding-121xl: 140px;
    --padding-28xl: 47px;
    --padding-5xl: 24px;
    --padding-51xl: 70px;
    --padding-xl: 20px;
    --padding-2xs: 11px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-9xs: 4px;
    --padding-25xl: 44px;
    --padding-14xl: 33px;
    --padding-10xl: 29px;
    --padding-21xl: 40px;
    --padding-32xl: 51px;
    --padding-11xs: 2px;
    --padding-16xl: 35px;
    --padding-3xs: 10px;
    --padding-lgi-9: 19.9px;
    --padding-lgi: 19px;
    --padding-3xs-9: 9.9px;
    --padding-9xs-3: 3.3px;
    --padding-base-6: 16.6px;
    --padding-xl-4: 20.4px;
    --padding-base-3: 15.3px;
    --padding-mini: 15px;
    --padding-base-4: 15.4px;
    --padding-5xs-7: 7.7px;
    --padding-57xl: 76px;
    --padding-5xs-6: 7.6px;
    --padding-9xs-8: 3.8px;
    --padding-7xs-1: 5.1px;
    --padding-8xs: 5px;
    --padding-7xs-2: 5.2px;
    --padding-10xs-6: 2.6px;
    --padding-15xl: 34px;
    --padding-10xs-5: 2.5px;
    --padding-xs: 12px;
    --padding-smi-8: 12.8px;
    --padding-12xs-1: 0.1px;
    --padding-smi-7: 12.7px;
    --padding-11xs-9: 1.9px;
    --padding-2xs-2: 10.2px;
    --padding-5xs: 8px;
    --padding-6xs-6: 6.6px;
    --padding-10xs: 3px;
    --padding-mini-1: 14.1px;
    --padding-7xs-7: 5.7px;
    --padding-6xs: 7px;
    --padding-sm: 14px;
    --padding-13xl-5: 32.5px;
    --padding-6xs-4: 6.4px;
    --padding-4xs-9: 8.9px;
    --padding-4xs: 9px;
    --padding-8xs-4: 4.4px;
    --padding-8xs-6: 4.6px;
    --padding-10xs-2: 2.2px;
    --padding-10xs-9: 2.9px;
    --padding-9xs-1: 3.1px;
    --padding-8xs-1: 4.1px;
    --padding-mid: 17px;
    --padding-11xs-5: 1.5px;
    --padding-9xl: 28px;
    --padding-5xs-5: 7.5px;
    --padding-xs-5: 11.5px;
    --padding-37xl: 56px;
    --padding-4xl: 23px;
    --padding-45xl: 64px;
    --padding-41xl: 60px;
    --padding-11xl: 30px;
    --padding-6xl: 25px;
    --padding-2xl: 21px;
    --padding-17xl: 36px;
    --padding-8xs-5: 4.5px;
    --padding-26xl-3: 45.3px;
    --padding-2xs-3: 10.3px;
    --padding-2xl-8: 21.8px;
    --padding-48xl: 67px;
    --padding-92xl: 111px;
    --padding-47xl: 66px;
    --padding-31xl: 50px;
    --padding-13xl: 32px;
    --padding-53xl: 72px;
    --padding-245xl: 264px;
    --padding-113xl: 132px;
  
    /* Border radiuses */
    --br-9xs: 4px;
    --br-3xs: 10px;
    --br-4xs-3: 8.3px;
    --br-12xs-8: 0.8px;
    --br-146xl-8: 165.8px;
    --br-xs: 12px;
    --br-6xs-4: 6.4px;
    --br-108xl-7: 127.7px;
    --br-7xs-1: 5.1px;
    --br-44xl-9: 63.9px;
    --br-mini-7: 14.7px;
    --br-12xs-6: 0.6px;
    --br-11xs-3: 1.3px;
    --br-11xl-7: 30.7px;
    --br-9xs-7: 3.7px;
    --br-55xl-5: 74.5px;
    --br-10xs: 3px;
    --br-base: 16px;
    --br-81xl: 100px;
    --br-13xl: 32px;
    --br-5xs: 8px;
  }
  